<div id="title-bar" class="container-fluid d-flex justify-content-between order-1">
  <div id="home">
    <img id="home-icon" src="/images/home.png"/>
  </div>
  <button id="add-diaper" class="btn-primary btn">
    Dodaj pieluchę
  </button>
  <div id="user-box" class="row">
    <div id="favourites-icon-box">
      <button id="heart-button" class="btn">
        <img src="/images/heart-red-filled.png" id="heart-icon">
      </button>
    </div>
    <div id="user-name-box" class="text-end">
    </div>
    <div id="login-icon-box">
      <img id="login-icon" src="/images/login-icon.png"/>
    </div>
  </div>
</div>
