@import "../node_modules/bootstrap-scss/functions";


$grey-badge-color : #979797;


@import "../node_modules/bootstrap-scss/variables";
@import "../node_modules/bootstrap-scss/mixins";
@import "../node_modules/bootstrap-scss/utilities";

$custom-colors: (
  "grey-badge-color": $grey-badge-color
);

$theme-colors: map-merge($theme-colors, $custom-colors);


$input-placeholder-color: $gray-400;


#search-box-input {
    border: 0px;
    color: $gray-400;
}

#search-box-input:focus {
    outline: none;
    box-shadow: none;
}

input.placeholder-color::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
}

.right-column {
  display: none;
}

.lg-background-image {
	display: none;
}

.md-background-image {
	display: none;
}

.sm-background-image {
	display: none;
}

@include media-breakpoint-down(md) {
	.sm-background-image {
    	display: block;
  	};
}

@include media-breakpoint-only(md) {
	.md-background-image {
    	display: block;
  }
}

@include media-breakpoint-up(md) {
	.right-column {
		display: block;
	};
}

@include media-breakpoint-up(lg) {
	.lg-background-image {
	    display: block;
	}
}

body {
  font-family: 'DM Sans', sans-serif;
}

.dm-sans {
  font-family: "DM Sans";
}

#application {
	height: 100vh;
}

#head-and-main-wrapper {
	height: 100vh;
}

#pielo {
	width: 150px;
	height: 40px;
}

#search-box-container {
	box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
}

#search-box-left-line {
	width: 4px;
}

#magnifying-glass {
	width: 25px;
	height: 27px;
}

#background-image-wrapper {
	z-index: -1
}

#main-elements-container {
	width: 100%;
}

#sm-circle-wrapper {
	z-index: -1;
}

#left-column-elements-wrapper {
	top: 30%
}

#footer {
	z-index: 2;
}

.footer-border-top {
   @include media-breakpoint-up(md) { 
       border-top: 1px solid $warning;
   }
}

.brand-badge {
	height: 30px;
	width: 135px;
	color: $gray-600;
}

.filtered-brand-badge {
	background-color: $gray-200;
}

.selected-brand-badge {
	background-color: $yellow-200;
}

#selected-items-wrapper {
	min-height: 38px;
}

#search-button {
	height: 40px;
	border-radius: 8px;
	box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
}

@include media-breakpoint-only(xs) {
  	.brand-badge {
		font-size: .85em;
		width: 125px;
	};
}

@media (max-width: 350px) {
	.brand-badge {
		width: 85px;
	};
}

@media (min-width: 351px) and (max-width: 362px) {
	.brand-badge {
		width: 95px;
	};
}

@media (min-width: 363px) and (max-width: 375px) {
	.brand-badge {
		width: 95px;
	};
}

@media (min-width: 376px) and (max-width: 380px) {
	.brand-badge {
		width: 100px;
	};
}

@media (min-width: 380px) and (max-width: 395px) {
	.brand-badge {
		width: 105px;
	};
}

@media (min-width: 396px) and (max-width: 410px) {
	.brand-badge {
		width: 110px;
	};
}

@media (min-width: 410px) and (max-width: 440px) {
	.brand-badge {
		width: 115px;
	};
}


