body {
  background-color: white;
  font-family: 'DM Sans', sans-serif;
}

.dm-sans {
  font-family: "DM Sans";
  font-weight: "bold";
}

#application {
	height: 100vh;
}

#head-and-main-wrapper {
	height: 100vh;
}

#pielo {
	width: 150px;
	height: 40px;
}

#search-box-container {
	box-shadow: rgba(50, 50, 93, 0.1) 0px 13px 27px -5px, rgba(0, 0, 0, 0.1) 0px 8px 16px -8px;
}

#search-box-left-line {
	width: 4px;
}

#magnifying-glass {
	width: 30px;
	height: 30px;
}

#background-image-container {
	top: -230px;
	right: -500px;
	z-index: -1
}


#background-image {
	height: 600px;
	width: 600px;
}