
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
body {
  background-color: white;
}

#application {
}

#title-bar {
  height: 100px;
}

#side-bar {
  overflow-x: hidden;
}

#main {
  padding: 10px;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

/*overflow-y: auto;*/