
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

body {
  background-color: white;
}

#application {
}

#title-bar {
  height: 100px;
}

#menu-template-container {
}

#main {
  padding: 10px;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
}

#menu-template-container {
	bottom: 0px;
	height: 100vh;
}

 .pielucha-image {
 	object-fit: cover;
 }

 #login-icon {
 	height: 50px;
 	width: 50px;
 }

 .star {
 	height: 25px;
 	width: 25px;
 }

 #home-icon {
 	height: 50px;
 	width: 50px;
 }

 #image {
 	height: 50px;
 	width: 50px;
 }

.size-box {
	height: 30px;
	width: 50px;
	border: solid black 1px;
}

.small-image {
	height: 100px;
	width: 100px;
}

