<div id="subscribe-box" class="form mx-auto">
  <div id="email-box" class="form-group">
    <label for="inputEmail">Email</label>
    <input id="email" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
  </div>
  <div id="password-box" class="form-group">
    <label for="exampleInputPassword1">Hasło</label>
    <input id="password" type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group">
    <div id="role-checkbox" class="form-check">
      <input data-toggle="collapse" data-target='#outside-fabrics' class="form-check-input" type="checkbox" id="producer" value="">
      <label class="form-check-label" for="producer">Jestem producentem</label>
    </div>
  </div>
  <button id="sign-up" type="button" class="btn btn-primary">Zarejestruj</button>
</div>