<div class="d-flex flex-column w-100">
	<div id="user-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		    <div class="navbar-nav">
		      <a class="nav-item nav-link active" href="#">
		      <h5>Moje pieluszki</h5> <span class="sr-only">(current)</span></a>
		      <a class="nav-item nav-link disabled" href="#"> <h5>Ustawienia</h5> </a>
		    </div>
		  </div>
		</nav>
	</div>
	<div id="main-content">
	</div>
</div>