<div id="menu-template-container" class="nav collapse show overflow-auto sticky-top col-2" id="navbarNav">
  <ul id="menu-template" class="nav flex-column flex-nowrap overflow-hidden bg-white w-100">
    <li class="nav-item">
      <a id="all-diapers-nav" class="nav-link" href="#application">
        Wszystkie Pieluszki
      </a>
    </li>
  </ul>
</div>
