<div id="menu-template-container" class="nav collapse show overflow-auto sticky-top col-2 pl-3 pt-3 border-right" id="navbarNav">
  <ul id="menu-template" class="nav flex-column flex-nowrap overflow-hidden w-100">
    <li class="nav-item">
      <a id="all-diapers-nav" class="nav-link" href="#application">
        Wszystkie Pieluszki
      </a>
    </li>
  </ul>
</div>
