<div id="menu-template-container" class="nav collapse show navbar-light bg-light overflow-auto sticky-top" id="navbarNav">
  <ul id="menu-template" class="nav flex-column flex-nowrap overflow-hidden">
    <li class="nav-item">
      <a id="all-diapers-nav" class="nav-link" href="#application">
        Wszystkie Pieluszki
      </a>
    </li>
  </ul>
</div>
