<div  class="mt-4">
  <div class="form-group">
    Wzór nr {{pattern-number}}
    <input type="text" class="form-control mb-2 pattern-name" id="pattern-{{pattern-number}}-name"pattern-number={{pattern-number}} placeholder="Nazwa Koloru/ Wzoru">
  </div>
  <div id="pattern-{{pattern-number}}-images-wrapper">
  </div>
</div>