<div class="form-group col-12">
  <div class="form-check">
    <input class="form-check-input form-input checkbox" type="checkbox" id="{{question-id}}" value="">
    <label class="form-check-label" for={{question-id}}>{{text}}</label>
  </div>
</div>