<div id="date" class="form-group date flex-column col-12" data-provide="datepicker">
	<label for="date-input" >{{text}}</label>
    <input id="release-date-input" type="text" class="form-control d-none">
</div>