<form  class="mt-4 needs-validation" novalidate>
  <div class="form-group flex-column col-12">
    <label for="diaper-categories-input">Rodzaj pieluszki</label>
    <select id="diaper-categories-input" class=" selectpicker col-12" multiple data-max-options="1" required>
    </select>
    <div id="help-block" class="form-text text-warning">
	  Aktualnie możliwe jest dodatnie tylko otulacza wełnianego. Wkrótce będzie można dodać również inne rodzaje pieluszek.
	</div>
  </div>      
  <button id="next-button" type="submit" class="btn btn-primary m-3 align-self-end">Dalej</button>
</form>