<div  class="mt-4">
  <div class="form-group flex-column col-12">
    <label for="diaper-categories-input">Rodzaj pieluszki</label>
    <select id="diaper-categories-input" class=" selectpicker col-12" multiple data-max-options="1">
    </select>
  </div>      
  <button id="next-button" type="button" class="btn btn-primary m-3 align-self-end">Dalej</button>
</div>