<div id='dimensions-table' class="mb-3">
  <div class="row my-2">
    <div id="dimensions-categories" class="col-3 font-weight-bold">
      Rozmiar
    </div>
    <div class="col-9">
      <div class="row">
        {{#each sizes}}
        <div id="{{id}}-dimensions" class="col">
            <div id="{{id}}-title" class="font-weight-bold text-center">
              {{shortcut}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div id="dimensions-titles" class="">
      </div>
    </div>
    <div class="col-9">
      <div id="inputs-box" class="row">
      </div>
    </div>
  </div>
</div>