<div class="d-flex flex-column">
  <div class="progress my-3">
    <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div id="form-wrapper">
  </div>
</div>