{{#with formPage}}
  <form id="{{id}}" class="d-flex flex-column mb-3 needs-validation" novalidate>
	  <div class="mb-3 order-last">
	    <button id="back-button" type="button" class="btn btn-outline-primary"> Cofnij</button>
	    <button id="next-button" type="submit" class="btn btn-primary float-right"> Dalej</button>
	  </div>
  </form>
{{/with}}