<div  class="d-flex flex-column">
  <div class="progress my-3">
    <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <div id="form-wrapper">
  </div>
  <div class="mb-3 d-flex flex-row justify-content-between">
    <button id="back-button" type="button" class="btn btn-primary">Cofnij</button>
    <button id="next-button" type="button" class="btn btn-primary">Dalej</button>
  </div>
</div>