<div id="sizes-box" class="form-group flex-column col-12">
  <label for="sizes-input">Rozmiary</label>
  <select id="sizes-input" class="col-12 form-input select" selectpicker multiple>
  </select>
</div>