<div id="ar-child-basic-data-wrapper" class="form-group row">
  <div class="col-form-label col-auto">
    Wiek dziecka
  </div>
  <input class="form-control col-1" type="number" id="age-from-input">
  <div class="col-form-label mx-2">
    do
  </div>
  <input class="form-control col-1" type="number" id="age-to-input">
  <div class="col-form-label ml-2 mr-5">
    miesięcy
  </div>
  <div class="col-form-label col-auto">
    Waga dziecka
  </div>
  <input class="form-control col-1" type="number" id="weight-from-input">
  <div class="col-form-label mx-2">
    do
  </div>
  <input class="form-control col-1" type="number" id="weight-to-input">
  <div class="col-form-label ml-2">
    kg
  </div>
</div>
<div id="ar-child-desciption-wrapper" class="my-2">
  <div class="py-1">
    <div>
      Dziecko:
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="pulchne" value="option1">
      <label class="form-check-label" for="pulchne">pulchne</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="szczuple" value="option1">
      <label class="form-check-label" for="szczuple">szczupłe</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="srednie" value="option1">
      <label class="form-check-label" for="srednie">średnie</label>
    </div>
  </div>
  <div class="py-1">
    <div>
      Uda:
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="pulchne-udka" value="option1">
      <label class="form-check-label" for="pulchne-udka">pulchne udka</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="szczuple-udka" value="option1">
      <label class="form-check-label" for="szczuple-udka">szczupłe udka</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" id="srednie-udka" value="option1">
      <label class="form-check-label" for="srednie udka">średnie udka</label>
    </div>
  </div>
</div>
