<div class="d-flex justify-content-between order-first">
<button id="back-to-form-button" type="button" class="btn btn-outline-danger mb-3">
  Wróć do formularza
</button>
<button id="add-item-button" type="button" class="btn btn-warning mb-3">
  Dodaj pieluchę
</button>
</div>
