<div class="row">
  <div class="col-2 d-flex">
    <img src="/images/star.png"/ class="star">
    <div>
      5
    </div>
  </div>
  <div class="col-8">
    <div class="d-flex">
      <div class="bar">
      </div>
    </div>
  </div>
  <div class="col-2">
    <div>
      37
    </div>
  </div>
</div>
