<div>
  <img class="dimensions-image" src="../images/otulacz.png" />
</div>
<div class="my-2 row">
  <div class="my-2 parameters-group-title text-primary col-auto">
    Wymiary dla rozmiaru: 
  </div>
  <div id="size-buttons-dimensions">
  </div>
</div>
<div id="dimensions-wrapper">
</div>
