{{#each dimensions}}
  <div id="dimensions-pars" class="row parameters-row">
    <div class="col-7 align-self-end d-flex">
      <div class="text-danger font-weight-bold mr-2">
        {{letter}}
      </div>
      <div class="attribute-title">
        {{title}}
      </div>
    </div>
    <div class="attribute-value col-5 align-self-end">
      <div>
        {{value}} cm
      </div>
    </div>
  </div>
{{/each}}
