<div id="item-added-wrapper">
  <div class="my-5 text-warning">
    <h4>Pielucha została dodana :)</h4>
  </div>
  <div id="go-to-main-page" class="my-5">
    <h4>
      <a href="#">Przejdź do listy pieluch</a>
    </h4>
  </div>
</div>