{{#with image}}
<div class="embed-responsive embed-responsive-1by1" type="button">
  <img {{#if profile}} id="{{id}}" {{/if}}  class="small-image left-image mx-auto img-fluid img-thumbnail embed-responsive-item pielucha-image" src={{url}} pattern-nr="{{pattern-nr}}" image-nr="{{image-nr}}" />
</div>
{{/with}}
