{{#with parameters-group}}
	<div id="{{id}}-parameters-group" class="parameters-group-wrapper mb-4">
	<div class="parameters-group-title text-primary mb-2">
  		<h6>{{name}}</h6>
	</div>
	</div>
{{/with}}
