<div class="reviews-box my-2">
  <div id="reviews-header-wrapper" class="mb-2 mx-4">
    <div id="reviews-header" class="row d-flex justify-content-between">
      <div id="reviews-title" class="text-primary">
        <h5>Opinie</h5>
      </div>
      <button type="button" class="btn btn-primary">Napisz opinię</button>
    </div>
  </div>
  <div id="reviews-summary-wrapper" class="">
    <div id="reviews-summary" class="row">
      <div id="rating-box" class="col-6">
        <div class="d-flex flex-column align-items-center">
          <div id="reviews-rating" class="m-1">
            <h1>4,6</h1>
          </div>
          <div id="reviews-stars" class="m-1">
            <img src="/images/star.png"/ class="star">
            <img src="/images/star.png"/ class="star">
            <img src="/images/star.png"/ class="star">
            <img src="/images/star.png"/ class="star">
            <img src="/images/star.png"/ class="star">
          </div>
          <div id="reviews-comments-nr" class="m-1">
            45 opinii
          </div>
        </div>
      </div>
      <div id="detail-summary-wrapper" class="col-6">
      </div>
    </div>
  </div>
  <div id="add-review-form-wrapper" class="my-3 mx-3 form">
  </div>
  <div id="reviews-container-wrapper" class="">
    <div id="reviews-container" class="col">
    </div>
  </div>
</div>
