  <div class="stars-box d-flex flex-row text-muted">
    <p class="mr-1">5,0</p>
    <img src="/images/star.png"/ class="star">
    <img src="/images/star.png"/ class="star">
    <img src="/images/star.png"/ class="star">
    <img src="/images/star.png"/ class="star">
    <img src="/images/star.png"/ class="star">
    <p class="ml-1">2 recenzje</p>
  </div>
