<p class="py-5">
Wyszukiwarka sklepów z pieluszkami wielorazowymi to pierwsze narzędzie, które pojawiło się na Pielo.pl. Aby nie przegapić premiery kolejnych funkcjonalności zapisz się do newslettera i obserwuj nas na facebooku i instagramie.
</p>
<div>
	<img id="justyna-img" src="images/justyna.jpg" class="float-start pb-3 pe-3" style="height: 400px">
	<p>
	Cześć,
	</p>
	<p>
	jestem Justyna, wielo-mama z głową pełną pomysłów i odwagą do zmieniania świata. 
	</p>
	<p>
	Kiedy urodził się mój synek Leonardo, wkręciłam się w świat pieluszek wielorazowych. Szybko okazało się, że wybór jest ogromny! Od samych nazw systemów, rozmiarów i marek można dostać zawrotu głowy, a jeszcze trzeba pamiętać o właściwym dopasowaniu pieluszki do budowy dziecka. 
	</p>
	<p>
	Przekonałam się, że kupowanie wielo-pieluszek nie jest wcale takie proste, jak mi się wydawało. Zaczęłam się zastanawiać, co mogę z tym zrobić? Dla siebie i dla innych rodziców? Pomyślałam: a gdyby tak stworzyć porównywarkę, która pomoże w wyborze najlepszych pieluszek dla naszych dzieci? Tak zrodził się pomysł na Pielo.pl - portal pieluszek wielorazowych.

	</p>
	<p>
	Wierzę, że łatwe wybieranie i kupowanie pieluszek wielorazowych zachęci coraz więcej rodziców do używania materiałów przyjaznych skórze maluchów i naszej planecie.
	</p>
</div>

<p>

</p>
<p>

</p>