<div class="m-5 p-3">
</div>
<div class="row">
	<div class="col-lg-6 col-md-8 col-sm-12">
		<div class="row">
			<div class ="col-md-8 col-sm-12 mt-2 mb-4 font-weight-bold">
				<h4 class="text-secondary mb-0">Szukanie pieluszek <br> wielorazowych może być</h4>
				<h4 class="text-warning">proste.</h4>
			</div>
		</div>
		<div>
			<div id="search-box-container" class="pl-2 mb-3 position-relative">
				<div id="search-box" class="bg-white">
					<div id="search-box-left-line" class="h-100 position-absolute top-0 start-0 bg-warning ml-1">
					</div>
					<div class="text-black-50 p-3 row w-100">
						<div class="col-11">
							Wpisz dowolną markę pieluszek
						</div>
						<div class="col-1">
							<img id="magnifying-glass" src="images/magnifying-glass.png"/>
						</div>
					</div>
				</div>
				<div id="background-image-container" class="position-absolute">
					<img id="background-image" src="images/background-image.png"/>
				</div>
			</div>
		</div>
	</div>
</div>
