<div class="row h-100">
	<div id="left-column" class="col-lg-6 col-md-8 col-sm-12 h-100">
		<div class="position-relative h-100">
			<div id="left-column-elements-wrapper" class="position-absolute w-100">
				<div id="diaper-icon-wrapper" class="w-100 d-flex justify-content-center d-block d-md-none  d-lg-none d-xl-none d-xxl-none">
					<img id="diaper-icon" src="images/diaper-icon.png"/>
				</div>
				<div class="row">
					<div class ="col-md-8 col-sm-12 mt-2 mb-4 font-weight-bold text-center text-md-start">
						<h4 class="text-secondary mb-0">Szukanie pieluszek <br> wielorazowych może być</h4>
						<h4 class="text-warning">proste.</h4>
					</div>
				</div>
		      	<div class="row">
					<div class="col-12 col-xxl-11">
						<div id="selected-items-wrapper" class="d-flex flex-wrap row row-cols-3 row-cols-xxl-4 my-2">
		      			</div>
					</div>
				</div>
		      	<div id="selected-stores-wrapper" class="d-none my-2 p-2 border rounded bg-white">
		      	</div>
				<div id="search-box-container" class="position-relative w-100">
					<div id="search-box" class="bg-white">
						<div id="search-box-left-line" class="h-100 position-absolute top-0 start-0 bg-warning">
						</div>
						<div class="p-3 row w-100 mx-0">
							<div class="col px-0">
								<div class="input-group input-group-sm">
								  	<input id="search-box-input" type="text" class="form-control placeholder-color" placeholder="Wpisz dowolną markę pieluszek" onclick="this.placeholder = ''">
								</div>
							</div>
							<div class="col-1 px-0">
								<img id="magnifying-glass" src="images/search-icon.png"/>
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-xxl-11">
						<div id="filtered-brands-wrapper" class="d-flex mt-3 flex-wrap row row-cols-3 row-cols-xxl-4">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-9 col-lg-10 col-xxl-10">
						<div id="search-button" class="d-none position-relative bg-warning text-white w-100 mt-3" role="button">
							<div class="position-absolute top-50 start-50 translate-middle text-nowrap">
								ZNAJDŹ SKLEP
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-xxl-11">
						<div id="stores-wrapper" class="text-warning d-none">
							<h6 id="stores-text">
							</h6>
							<div class="d-flex flex-wrap">
								<div id="matching-stores-wrapper" class="row row-cols-2 row-cols-xxl-3">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="right-column col-lg-6 col-md-4 h-100">
		<div id="background-image-wrapper" class="position-relative h-100">
			<div class="position-absolute top-50 start-0 translate-middle-y w-100">
				<div id="background-image-container" class="position-relative">
					<img id="lg-background-image" class="lg-background-image" src="images/lg-background-image.png"/>
					<img id="md-background-image" class="md-background-image" src="images/md-background-image.png"/>
				</div>
			</div>
		</div>
	</div>
</div>

