<div class="col mb-5 d-flex align-items-center justify-content-center">
  <div>
    <div id="{{store-id}}-store-logo-wrapper" class="store-logo-wrapper">
      <a role="button">
        <img class="img-fluid store-logo" src="{{store-logo}}" >
      </a>
    </div>
  </div>
</div>