<div class="col mb-5 d-flex align-items-center justify-content-center">
    <div id="{{store-id}}-store-logo-wrapper" class="store-logo-wrapper">
      <a role="button">
        <img class="img-fluid" src="{{store-logo}}" id="{{store-id}}-store-logo">
      </a>
    </div>
</div>