<div class="col mb-5 d-flex align-items-center justify-content-center">
  <div class="store-logo-wrapper">
    <a href="{{store-url}}" role="button">
      <img class="img-fluid store-logo" src="{{store-logo}}" >
    </a>
  </div>
</div>