<div class="col-12 col-md-9 col-lg-10">
	<div id="search-button" class="d-none position-relative bg-warning text-white w-100 mt-3" role="button">
		<div class="position-absolute top-50 start-50 translate-middle text-nowrap">
			ZNAJDŹ SKLEP
		</div>
	</div>
</div>