<div id="search-box" class="bg-white">
	<div id="search-box-left-line" class="h-100 position-absolute top-0 start-0 bg-warning">
	</div>
	<div class="p-3 row w-100 mx-0">
		<div class="col px-0">
			<div class="input-group input-group-sm">
			  	<input id="search-box-input" type="text" class="form-control placeholder-color" placeholder="Wpisz dowolną markę pieluszek" onclick="this.placeholder = ''">
			</div>
		</div>
		<div class="col-1 px-0">
			<img id="magnifying-glass" src="images/search-icon.png"/>
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		</div>
	</div>
</div>