<div class=" container">
	<div id="head-and-main-wrapper" class="d-flex flex-column min-vh-100">
		<div id="header" class="row">
			<nav class="navbar navbar-expand-md navbar-light bg-white">
			    <a class="navbar-brand" href="?page=start">
			      <img id="pielo" src="images/pielo.png" alt="">
			    </a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
			    	<div class="navbar-nav">
			    		<a class="nav-link me-5" href="?page=lista-marek">LISTA MAREK</a>
				        <a class="nav-link me-5" href="?page=o-pielo">O PIELO</a>
				    </div>
			    </div>
			</nav>
		</div>
		<div id="main" class="flex-grow-1">
		</div>
	</div>
	<div id="footer" class="footer-border-top mt-3 pt-4 pb-4">
		<div id="pielo-logo-footer">
			<h6>Pielo.pl</h6>
		</div>
		<div class="mt-2">
			<a href="#newsletter" class="text-secondary">Polityka prywatności</a>
		</div>
	</div>
</div>

