<div class="dm-sans font-weight-bold position-relative">
	<div id="head-and-main-wrapper" class="d-flex flex-column container">
		<div id="header" class="row p-1">
			<nav class="navbar sticky-top navbar-expand-md navbar-light bg-white">
			    <a class="navbar-brand" href="#">
			      <img id="pielo" src="images/pielo.png" alt="">
			    </a>
			    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			      <span class="navbar-toggler-icon"></span>
			    </button>
			    <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
			    	<div class="navbar-nav">
				        <a class="nav-link me-5" href="#">O PIELO</a>
				        <button id="newsletter-button" class="btn btn-outline-warning" href="#newsletter" type="button">NEWSLETTER</button>
				    </div>
			    </div>
			</nav>
		</div>
		<div id="main" class="flex-grow-1 position-relative">
		</div>
	</div>
	<div id="sm-circle-wrapper" class="position-absolute">
		<img id="circle" class="sm-background-image" src="images/circle.png"/>
	</div>
	<div class="container">
		<div id="footer" class="alpha footer-border-top mt-3 pt-4 pb-4">
			<div id="pielo-logo-footer">
				<h6>Pielo.pl</h6>
			</div>
			<div class="mt-2">
				<a href="#newsletter" class="text-secondary">Polityka prywatności</a>
			</div>
		</div>
	</div>
</div>

