<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>Pielo</title>
    <link href='../../../style.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="../../../libs/jquery-3.3.1.min.js"></script>
    <script type="module" src="productpage.js"></script>
    <script src='../../../libs/handlebars-v4.7.6.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
  </head>
  <body>
    <div id="application" class="container-fluid bg-light h-100">
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>

    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyAIpPvZ3RCdPV9o4VOEo16YTKI7rqrgsF8",
        authDomain: "wielo-pielo.firebaseapp.com",
        databaseURL: "https://wielo-pielo.firebaseio.com",
        projectId: "wielo-pielo",
        storageBucket: "wielo-pielo.appspot.com",
        messagingSenderId: "104016685413",
        appId: "1:104016685413:web:9bc39931f4251a2da2198c",
        measurementId: "G-4KKS4BMPSJ"
      };
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
  </body>
  <script id="page-template" type="text">
    <div id="page" class="row d-flex justify-content-md-center">
    </div>
  </script>
  <script id="size-buttons-template" type="text/x-handlebars-template">
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
    {{#each diaper.sizes}}
      <label class="btn btn-outline-secondary">
        <input type="radio" name="options" id="{{this.shortcut}}-{{../container}}-button" class="{{../container}}-size-button" size="{{id}}" autocomplete="off"> {{this.shortcut}}
      </label>
    {{/each}}
    </div>
  </script>
  <script id="size-range-template" type="text/x-handlebars-template">
    {{#with size}}
    <div class="mr-2">
      <h6>{{name}}:</h6>
    </div>
    <div class="">
      <h6>{{min}} - {{max}} kg</h6>
    </div>
    {{/with}}
  </script>
  <script id="left-image-template" type="text/x-handlebars-template">
    {{#with image}}
      <div class="embed-responsive embed-responsive-1by1" type="button">
        <img {{#if profile}} id="{{id}}" {{/if}}  class="small-image left-image mx-auto img-fluid img-thumbnail embed-responsive-item pielucha-image" src={{url}} pattern-nr="{{pattern-nr}}" image-nr="{{image-nr}}" />
      </div>
    {{/with}}
  </script>
  <script id="pattern-profile-image-template" type="text/x-handlebars-template">
    {{#with image}}
    <div class="col-4 p-0" type="button">
      <div class="embed-responsive embed-responsive-1by1">
      <img {{#if profile}} id="{{id}}" {{/if}} class="small-image pattern-profile-image mx-auto img-fluid img-thumbnail embed-responsive-item pielucha-image" src={{url}} pattern-nr="{{pattern-nr}}" image-nr="{{image-nr}}" />
      </div>
    </div>
    {{/with}}
  </script>
  <script id="devider-template" type="text/x-handlebars-template">
    <div class="w-100"></div>
  </script>
  <script id="profile-image-template" type="text/x-handlebars-template">
    {{#with image}}
    <img class="product-image mx-auto img-fluid img-thumbnail" src={{url}}/>
    {{/with}}
  </script>
  <script id="edit-item-button-template" type="text/x-handlebars-template">
    <button id="edit-item-button" type="button" class="btn btn-outline-danger mb-3">
      Edytuj pieluchę
    </button>
  </script>
  <script id="delete-item-button-template" type="text/x-handlebars-template">
    <button id="delete-item-button" type="button" class="btn btn-outline-danger mb-3">
      Usuń pieluchę
    </button>
  </script>
  <script id="back-and-add-item-buttons-template" type="text/x-handlebars-template">
    <div class="d-flex justify-content-between order-first">
      <button id="back-to-form-button" type="button" class="btn btn-outline-danger mb-3">
        Wróć do formularza
      </button>
      <button id="add-item-button" type="button" class="btn btn-warning mb-3">
        Dodaj pieluchę
      </button>
    </div>
  </script>
  <script id="product-page-template" type="text/x-handlebars-template">
    {{#with diaper}}
    <div id="main" class="col-md-12 order-1 mx-auto">
      <div id="product-page" class="col-md-10 d-flex flex-column order-1 mx-auto">
        <div class="main-info-box row my-2 p-3 mx-1 bg-white">
          <div class="col-2 pr-0 pl-1">
            <div class="row justify-content-center">
              <div id="images-left-box" class="col-10 d-flex flex-column">
              </div>
            </div>
          </div>
          <div id="profile-image-box" class="col-md-6">
          </div>
          <div class="title-box col">
            <div id="edit-diaper-wrapper">
            </div>
            <h4 class="text-primary mb-3"> {{printnewinfo this}} </h4>
            <div class="d-flex flex-row mb-3">
              <h5 class="text-secondary mr-2">od</h5>
              <h5 href="#application" class="text-warning" type="button">{{producer-name}}</h5>
            </div>
            <div id="stars-box-wrapper" class="mb-3">
            </div>
            <div class="text-secondary mb-3">
              <h5 class="mb-0">Rozmiary</h5>
              <div class="d-flex flex-column mt-1">
                <div id="size-buttons-container">
                </div>
                <div id="size-description" class="d-flex flex-row mt-2">
                </div>
              </div>
            </div>
            <div class="text-secondary">
              <div class="row">
                <div class="col-auto">
                  <h5 class="mb-0">Wzór:</h5>
                </div>
                <div id="pattern-name" class="col-auto text-primary">
                </div>
              </div>
              <div id="patterns-images-box" class="d-flex flex-row flex-wrap row">
              </div>
            </div>
          </div>
        </div>
        <div class="info-box my-2">
          <div class="card card-body">
            <div id="info-title" class="text-center" type="button" aria-expanded="false" aria-controls="parameters-wrapper" data-toggle="collapse" href="#parameters-wrapper">
              <h5 class="card-title text-primary">
                Informacje od producenta
              </h5>
            </div>
            <div class="collapse text-secondary mx-3" id="parameters-wrapper">
              <div id="parameters" class="mb-3">
              </div>
              <div id="description" class="">
                <div class="row">
                  <div class="col-12">
                    <div class="parameters-group-title text-primary">
                      <h6>Opis</h6>
                    </div>
                    <div class="white-space-preline">
                      <p>{{description}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/with}}
  </script>
  <script id="pattern-name-template" type="text/x-handlebars-template">
    <h5>{{name}}</h5>
  </script>
  <script id="stars-box-template" type="text/x-handlebars-template">
    <div class="stars-box d-flex flex-row text-muted">
      <p class="mr-1">5,0</p>
      <img src="/images/star.png"/ class="star">
      <img src="/images/star.png"/ class="star">
      <img src="/images/star.png"/ class="star">
      <img src="/images/star.png"/ class="star">
      <img src="/images/star.png"/ class="star">
      <p class="ml-1">2 recenzje</p>
    </div>
  </script>
  <script id="reviews-box-template" type="text/x-handlebars-template">
    <div class="reviews-box my-2">
      <div id="reviews-header-wrapper" class="mb-2 mx-4">
        <div id="reviews-header" class="row d-flex justify-content-between">
          <div id="reviews-title" class="text-primary">
            <h5>Opinie</h5>
          </div>
          <button type="button" class="btn btn-primary">Napisz opinię</button>
        </div>
      </div>
      <div id="reviews-summary-wrapper" class="">
        <div id="reviews-summary" class="row">
          <div id="rating-box" class="col-6">
            <div class="d-flex flex-column align-items-center">
              <div id="reviews-rating" class="m-1">
                <h1>4,6</h1>
              </div>
              <div id="reviews-stars" class="m-1">
                <img src="/images/star.png"/ class="star">
                <img src="/images/star.png"/ class="star">
                <img src="/images/star.png"/ class="star">
                <img src="/images/star.png"/ class="star">
                <img src="/images/star.png"/ class="star">
              </div>
              <div id="reviews-comments-nr" class="m-1">
                45 opinii
              </div>
            </div>
          </div>
          <div id="detail-summary-wrapper" class="col-6">
          </div>
        </div>
      </div>
      <div id="add-review-form-wrapper" class="my-3 mx-3 form">
      </div>
      <div id="reviews-container-wrapper" class="">
        <div id="reviews-container" class="col">
        </div>
      </div>
    </div>
  </script>
  <script id="add-review-template" type="text/x-handlebars-template">
    {{#with diaper}}
    <div class="">
      <div id="your-review-title" class="text-primary">
        <h5>Twoja opinia</h5>
      </div>
      <div id="ar-sizes-wrapper" class="form-group row">
        <div class="col-form-label col-auto">
          Używany rozmiar pieluszki
        </div>
        <div class="col-auto d-flex align-content-center">
          {{#each sizes}}
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="add-sizes-checkbox-{{this.shortcut}}" value="option1">
              <label class="form-check-label" for="add-sizes-checkbox-{{this.shortcut}}">{{this.shortcut}}</label>
            </div>
          {{/each}}
        </div>
      </div>
      <div id="ar-child-title" class="my-2">
        <h6 class="text-primary">
          Dodaj opis budowy dziecka
        </h6>
      </div>
      <div id="ar-child-wrapper" class="my-2">
      </div>
      <div id="ar-text-wrapper" class="my-3">
        <div class="form-group">
          <textarea class="form-control" id="ar-text" rows="5" placeholder="Twoja opinia" ></textarea>
        </div>
      </div>
      <div id="ar-photo-wrapper" class="my-2">
        <div>
          <label for="input-image">Dodaj zdjęcie</label>
          <input type="file" class="form-control-file multiple" id="input-image">
        </div>
      </div>
      <div id="ar-stars-wrapper" class="my-3">
        <div class="my-1">
          Twoja ocena
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
        <img src="/images/star.png"/ id="star-review">
      </div>
      <div class="row d-flex flex-row-reverse">
        <div class="col-auto">
          <button class="btn btn-primary">Dodaj opinię</button>
        </div>
      </div>
    </div>
    {{/with}}
  </script>
  <script id="add-review-child-template" type="text/x-handlebars-template">
    <div id="ar-child-basic-data-wrapper" class="form-group row">
      <div class="col-form-label col-auto">
        Wiek dziecka
      </div>
      <input class="form-control col-1" type="number" id="age-from-input">
      <div class="col-form-label mx-2">
        do
      </div>
      <input class="form-control col-1" type="number" id="age-to-input">
      <div class="col-form-label ml-2 mr-5">
        miesięcy
      </div>
      <div class="col-form-label col-auto">
        Waga dziecka
      </div>
      <input class="form-control col-1" type="number" id="weight-from-input">
      <div class="col-form-label mx-2">
        do
      </div>
      <input class="form-control col-1" type="number" id="weight-to-input">
      <div class="col-form-label ml-2">
        kg
      </div>
    </div>
    <div id="ar-child-desciption-wrapper" class="my-2">
      <div class="py-1">
        <div>
          Dziecko:
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="pulchne" value="option1">
          <label class="form-check-label" for="pulchne">pulchne</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="szczuple" value="option1">
          <label class="form-check-label" for="szczuple">szczupłe</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="srednie" value="option1">
          <label class="form-check-label" for="srednie">średnie</label>
        </div>
      </div>
      <div class="py-1">
        <div>
          Uda:
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="pulchne-udka" value="option1">
          <label class="form-check-label" for="pulchne-udka">pulchne udka</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="szczuple-udka" value="option1">
          <label class="form-check-label" for="szczuple-udka">szczupłe udka</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="srednie-udka" value="option1">
          <label class="form-check-label" for="srednie udka">średnie udka</label>
        </div>
      </div>
    </div>
  </script>
  <script id="detail-reviews-summary-template" type="text/x-handlebars-template">
    <div class="row">
      <div class="col-2 d-flex">
        <img src="/images/star.png"/ class="star">
        <div>
          5
        </div>
      </div>
      <div class="col-8">
        <div class="d-flex">
          <div class="bar">
          </div>
        </div>
      </div>
      <div class="col-2">
        <div>
          37
        </div>
      </div>
    </div>
  </script>
  <script id="attribute-template" type="text/x-handlebars-template">
    {{#each parameters}}
    <div class="row parameters-row">
      <div class="attribute-title col-6">
        {{title}}
      </div>
      <div class="attribute-value col-6 align-self-end">
        <div>
          {{#if tick}}
          <img class="tick-image" src="{{src}}" />
          {{else}}
            {{#if values}}
              {{#each values}}
                <div>
                  {{value}}
                </div>
              {{/each}}
            {{else}}
              {{value}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </script>
  <script id="parameters-group-wrapper-template" type="text/x-handlebars-template">
    {{#with parameters-group}}
    <div id="{{id}}-parameters-group" class="parameters-group-wrapper mb-4">
      <div class="parameters-group-title text-primary mb-2">
        <h6>{{name}}</h6>
      </div>
    </div>
    {{/with}}
  </script>
  <script id="parameters-wrapper-template" type="text/x-handlebars-template">
    <div class="row justify-content-between mt-3">
      <div class="col-6" id="attributes-left">
      </div>
      <div class="col-6" id="attributes-right">
      </div>
    </div>
  </script>
  <script id="dimensions-template" type="text/x-handlebars-template">
    <div>
      <img class="dimensions-image" src="../images/otulacz.png" />
    </div>
    <div class="my-2 row">
      <div class="my-2 parameters-group-title text-primary col-auto">
        Wymiary dla rozmiaru: 
      </div>
      <div id="size-buttons-dimensions">
      </div>
    </div>
    <div id="dimensions-wrapper">
    </div>
  </script>
  <script id="dimensions-values-template" type="text/x-handlebars-template">
    {{#each dimensions}}
      <div id="dimensions-pars" class="row parameters-row">
        <div class="col-7 align-self-end d-flex">
          <div class="text-danger font-weight-bold mr-2">
            {{letter}}
          </div>
          <div class="attribute-title">
            {{title}}
          </div>
        </div>
        <div class="attribute-value col-5 align-self-end">
          <div>
            {{value}} cm
          </div>
        </div>
      </div>
    {{/each}}
  </script>
</html>
