<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <title>Pielo</title>
    <link href='../../../style.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="../../../libs/jquery-3.3.1.min.js"></script>
    <script type="module" src="new-form.js"></script>
    <script src='../../../libs/handlebars-v4.7.6.js'></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
  </head>
  <body>
    <div id="application" class="container-fluid bg-light h-100">
    </div>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.1/firebase-analytics.js"></script>

    <script>
      var firebaseConfig = {
        apiKey: "AIzaSyAIpPvZ3RCdPV9o4VOEo16YTKI7rqrgsF8",
        authDomain: "wielo-pielo.firebaseapp.com",
        databaseURL: "https://wielo-pielo.firebaseio.com",
        projectId: "wielo-pielo",
        storageBucket: "wielo-pielo.appspot.com",
        messagingSenderId: "104016685413",
        appId: "1:104016685413:web:9bc39931f4251a2da2198c",
        measurementId: "G-4KKS4BMPSJ"
      };
      firebase.initializeApp(firebaseConfig);
      firebase.analytics();
    </script>
  </body>
  <script id="page-template" type="text">
    <div id="page" class="row d-flex justify-content-md-center">
    </div>
  </script>
  <script id="form-sizes-template" type="text/x-handlebars-template">
    <div id="sizes-box" class="form-group flex-column col-12">
      <label for="sizes-input">Rozmiary</label>
      <select id="sizes-input" class="col-12 form-input select" selectpicker multiple>
      </select>
    </div>
  </script>
  <script id="checkbox-input-template" type="text/x-handlebars-template">
    <div class="form-group col-12">
      <div class="form-check">
        <input class="form-check-input form-input checkbox" type="checkbox" id="{{question-id}}" value="">
        <label class="form-check-label" for={{question-id}}>{{text}}</label>
      </div>
    </div>
  </script>
  <script id="select-input-template" type="text/x-handlebars-template">
    <div id="{{question-id}}-box" class="form-group flex-column col-12">
      <label for="{{question-id}}">{{text}}</label>
      <select id="{{question-id}}" class="col-12 form-input select {{fabrics}}" selectpicker multiple>
      </select>
    </div>
  </script>
  <script id="new-input-template" type="text/x-handlebars-template">
    {{#each data}}
      <option>{{name}}</option>
    {{/each}}
  </script>
  <script id="form-view-template" type="text/x-handlebars-template">
    <div id="form-view-wrapper" class="col-6 bg-white mt-6">
    </div>
  </script>
  <script id="form-template" type="text/x-handlebars-template">
    <div  class="d-flex flex-column">
      <div class="progress my-3">
        <div id="progress-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <div id="form-wrapper">
      </div>
      <div class="mb-3 d-flex flex-row justify-content-between">
        <button id="back-button" type="button" class="btn btn-primary">Cofnij</button>
        <button id="next-button" type="button" class="btn btn-primary">Dalej</button>
      </div>
    </div>
  </script>
  <script id="form-page-template" type="text/x-handlebars-template">
    {{#with formPage}}
      <form id="{{id}}" class="d-flex flex-column mb-3">
      </form>
    {{/with}}
  </script>
  <script id="form-page-title-template" type="text/x-handlebars-template">
      <div class="align-self-center text-primary font-weight-bold mb-3">
        {{title}}
      </div>
  </script>
  <script id="diaper-category-template" type="text/x-handlebars-template">
    <div  class="mt-4">
      <div class="form-group flex-column col-12">
        <label for="diaper-categories-input">Rodzaj pieluszki</label>
        <select id="diaper-categories-input" class=" selectpicker col-12" multiple data-max-options="1">
        </select>
      </div>      
      <button id="next-button" type="button" class="btn btn-primary m-3 align-self-end">Dalej</button>
    </div>
  </script>
  <script id="dimensions-page-template" type="text/x-handlebars-template">
    <div id='dimensions-table' class="mb-3">
      <div class="row my-2">
        <div id="dimensions-categories" class="col-3 font-weight-bold">
          Rozmiar
        </div>
        <div class="col-9">
          <div class="row">
            {{#each sizes}}
            <div id="{{id}}-dimensions" class="col">
                <div id="{{id}}-title" class="font-weight-bold text-center">
                  {{shortcut}}
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div id="dimensions-titles" class="">
          </div>
        </div>
        <div class="col-9">
          <div id="inputs-box" class="row">
          </div>
        </div>
      </div>
    </div>
  </script>
  <script id="dimension-title-template" type="text/x-handlebars-template">
    <div class="dimension-title mb-2">
      {{dimension-text}}
    </div>
  </script>
  <script id="size-inputs-column-template" type="text/x-handlebars-template">
    {{#each sizes}}
    <div class="col">
      <div id="{{id}}-inputs-box" class="d-flex flex-column dimension-inputs-box">
      </div>
    </div>
    {{/each}}
  </script>
  <script id="layers-template" type="text/x-handlebars-template">
    {{#each layers}}
    <div id="{{id}}" class="mb-4 layer">
      <div class="text-info mb-3">
        {{title}}
      </div>
    </div>
    {{/each}}
  </script>
  <script id="fabrics-inputs-template" type="text/x-handlebars-template">
    {{#each fabrics}}
    <div class="input-group mb-3 row">
      <div class="col-3">
        <label for="{{name}}-input class="">{{name}}</label>
      </div>
      <input id="{{name}}-input" name="{{name}}" type="text" aria-describedby="{{name}}-addon" class="{{layer-id}} form-control col-3" layer-id="{{layer-id}}">
      <div class="input-group-append">
        <span class="input-group-text" id="{{name}}-addon">%</span>
      </div>
    </div>
    {{/each}}
  </script>
  <script id="size-input-template" type="text/x-handlebars-template">
    {{#each dimensions}}
    <div class="input-group mb-2">
      <input type="text" aria-describedby="{{dimension}}-{{../size.id}}-addon" class="form-control dimension-input {{id}} {{../size.id}}" size="{{../size.id}}" dimension-id="{{id}}" >
      <div class="input-group-append">
        <span class="input-group-text" id="{{dimension}}-{{../size.id}}-addon">cm</span>
      </div>
    </div>
    {{/each}}
  </script>
  <script id="weight-input-template" type="text/x-handlebars-template">
    <div id="weight-inputs">
      <div id="weight-inputs-title" class="d-flex flex-column">
      </div>
      {{#each sizes}}
      <div class="row">
        <div class="col-2 font-weight-bold">
          {{shortcut}}
        </div>
        <div class="input-group mb-2 col-5">
          <label for="{{id}}-from-weight-input" class="px-2">od</label>
          <input id="{{id}}-from-weight-input" type="text" aria-describedby="{{id}}-from-addon" class="form-control weight-input-from weight-input" size="{{id}}" >
          <div class="input-group-append">
            <span class="input-group-text" id="{{id}}-from-addon">kg</span>
          </div>
        </div>
        <div class="input-group mb-2 col-5">
          <label for="{{id}}-till-weight-input" class="px-2">do</label>
          <input id="{{id}}-till-weight-input" type="text" aria-describedby="{{id}}-till-addon" class="form-control weight-input-till weight-input" size="{{id}}" >
          <div class="input-group-append">
            <span class="input-group-text" id="{{id}}-till-addon">kg</span>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </script>
  <script id="text-input-template" type="text/x-handlebars-template">
    {{#with input-data}}
    <div class="form-group">
      <label for="{{id}}-input">{{title}}</label>
      <textarea id="{{id}}-input" type="text" rows="{{rows-nr}}" class="form-control {{input-name}} text-input"></textarea>
    </div>
    <div class="form-group">
    {{/with}}
  </script>
  <script id="add-pattern-button-template" type="text/x-handlebars-template">
    <div class="order-3">
      <button id="add-pattern-button" type="button" class="btn btn-warning">
        Dodaj Kolor/ Wzór
      </button>
    </div>
  </script>
  <script id="add-pattern-template" type="text/x-handlebars-template">
    <div  class="mt-4">
      <div class="form-group">
        Wzór nr {{pattern-number}}
        <input type="text" class="form-control mb-2 pattern-name" id="pattern-{{pattern-number}}-name"pattern-number={{pattern-number}} placeholder="Nazwa Koloru/ Wzoru">
      </div>
      {{#each image-numbers}}
        <div class="form-group m-3 p-2">
          {{#if profile-image}}
            <label for="pattern-{{../pattern-number}}-image-{{image-number}}">Zdjęcie profilowe wzoru:</label>
          {{/if}}
          <input type="file" class="form-control-file image-input pattern-{{../pattern-number}}" id="pattern-{{../pattern-number}}-image-{{image-number}}" pattern-number="{{../pattern-number}}" image-number="{{image-number}}">
          <div id="file-preview-pattern-{{../pattern-number}}-image-{{image-number}}" class="preview-image-box" pattern-nr="{{../pattern-number}}" image-nr="{{image-number}}">
          </div>
        </div>
      {{/each}}
    </div>
  </script>
</html>
